@use '../util' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-style: normal;
  font-weight: normal;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

html,
body {
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

main {
  // TODO: update padding to match design
  padding: rem(60) rem(20);
}

.sr-only {
  clip: rec(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
