@use '../util' as *;

body {
  font-family: var(--ff-sans-body);
  font-weight: 300;
  font-size: var(--fs-body);
}

// prettier-ignore
h1, h2 {
  font-family: var(--ff-sans-heading);
  font-weight: 600;
}

h1 {
  margin: 0 0 rem(24);
  font-size: var(--fs-h1);
  line-height: rem(36);
}

h2 {
  margin: 0 0 rem(20);
  font-size: var(--fs-h2);
}
