@use '../util' as *;

.header {
  position: relative;
  background-image: url(../../../images/bg-hero-mobile.svg);
  background-color: var(--clr-light);
  background-size: cover;
  background-position: top center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: rem(24) rem(16) 0;

  .logo {
    width: rem(104);
  }

  @include breakpoint(medium) {
    .logo {
      width: rem(200);
    }
  }
}
